In [1]:
from helpers.mongoConnection import write_coll, delete_coll
import pandas as pd

In [2]:
friends_quotes = pd.read_csv("friends_data.csv")

# Testing our MongoConnections:

## Adding Characters to Mongodb:

In [3]:
def characters(name, personality, job):
    character= {"name":f"{name}" , "personality":f"{personality}", "job": f"{job}" 
        
    }
    return write_coll("characters", character)

In [4]:
name = "Monica" 
personality = "Smart, cynical and hardworker. But with a romantic disaster area"
job = "assistant chef for a chic uptown restaurant"

In [5]:
characters(name, personality, job)

In [6]:
name = "Rachel" 
personality = "Spoiled, adorable and courageous, which makes her Monica´s best friend from high school. She´s on her own for the first time, and is equipped to do nothing"
job = "Has worked for none of what she has"

In [7]:
characters(name, personality, job)

In [8]:
name = "Phoebe" 
personality = "Sweet and flaky. Monica´s former roomate. Plays guitar in the subway, if you know what it means"
job = "massagist"

In [9]:
characters(name, personality, job)

In [10]:
name = "Ross"
personality = "Intelligent, emotional, romantic and Monica´s brother. Suddenly divorced. Facing singlehood with phenomenal reluctance"
job = "A paleontologist. Not that it matters..."

In [11]:
characters(name, personality, job)

In [12]:
name = "Joey"
personality = "Hnadsome and macho. Lives accross the hal from Rachell and Monica. Loves women, sports, women, New York and yes, you guessed it: women!"
job = "Wants to be an actor. Actually, wants to be Al Pacino"

In [13]:
characters(name, personality, job)

In [14]:
name = "Chandler"
personality = "Droll, dry. Makes jokes in uncomfortable moments. Very observer of everyone´s lifes and his life. Survives by way of hs sens of humor"
job = "Works in front of a computer doing something tedious, he doesn´t really know what it is, in a claustrophobic cubicle in a nondescript office building"

In [15]:
characters(name, personality, job)

## Adding Lines of Characters to Mongo:

In [16]:
def line(lin, name, episode):
    frase= {"line":f"{lin}" , "name":f"{name}", "episode": f"{episode}" 
        
    }
    return write_coll("lines", frase)

In [17]:
lin = "No Mom, I don't have a restaurant, I work in a restaurant."
name = "Monica"
episode = "Episode 2"

In [18]:
line(lin, name, episode)

### Now that we´ve checked it works, lets add all the lines from our DataFrame:

In [19]:
pd.set_option('display.max_colwidth', None)
friends_quotes.head()

,Unnamed: 0,author,episode_number,episode_title,quote,quote_order,season
0,543,Phoebe,3.0,The Thumb,(entering) Hi guys!,0.0,1.0
1,544,All,3.0,The Thumb,"Hey, Pheebs! Hi!",1.0,1.0
2,545,Ross,3.0,The Thumb,"Hey. Oh, oh, how'd it go?",2.0,1.0
3,546,Phoebe,3.0,The Thumb,"Um, not so good. He walked me to the subway and said 'We should do this again!'",3.0,1.0
4,547,All,3.0,The Thumb,Ohh. Ouch.,4.0,1.0

In [20]:
friends_quotes.episode_number.unique()

array([3., 7., 2.])

In [23]:
def addingDF():
    for i,row in friends_quotes.iterrows():
        name = {"line" : row["quote"], "name": row["author"],
            "episode" : row["episode_number"]}
        write_coll( "lines", name)

In [24]:
addingDF()

## Adding data to episodes collection from DataFrame:

In [25]:
#with drop_duplicates, we remove repeated instances of characters in each episode:
author_unique = friends_quotes.drop_duplicates(subset= ["author", "episode_number"], keep='first', inplace= False)

In [26]:
author_unique.head()

,Unnamed: 0,author,episode_number,episode_title,quote,quote_order,season
0,543,Phoebe,3.0,The Thumb,(entering) Hi guys!,0.0,1.0
1,544,All,3.0,The Thumb,"Hey, Pheebs! Hi!",1.0,1.0
2,545,Ross,3.0,The Thumb,"Hey. Oh, oh, how'd it go?",2.0,1.0
5,548,Rachel,3.0,The Thumb,"What? He said 'we should do it again', that's good, right?",5.0,1.0
6,549,Monica,3.0,The Thumb,"Uh, no. Loosely translated 'We should do this again' means 'You will never see me naked'.",6.0,1.0

In [27]:
def addingepisodes(): 
    for i,row in author_unique.iterrows():
        name = {"episode" : row["episode_number"], "name": row["author"]}
        write_coll( "episodes", name)

In [28]:
addingepisodes()

# Testing our API:

In [34]:
import requests

### Getting all the characters, lines and episodes:

In [80]:
res = requests.get("http://127.0.0.1:5000/characters")
res

In [81]:
res.json()

[{'_id': {'$oid': '602ffc903b3bd408215f67ef'}, 'name': 'Monica'},
 {'_id': {'$oid': '602fff063b3bd408215f67f0'}, 'name': 'Rachel'},
 {'_id': {'$oid': '603143e502f4ae83273123aa'}, 'name': 'Phoebe'},
 {'_id': {'$oid': '603143ee02f4ae83273123ab'}, 'name': 'Ross'},
 {'_id': {'$oid': '603143f302f4ae83273123ac'}, 'name': 'Joey'},
 {'_id': {'$oid': '603143f502f4ae83273123ad'}, 'name': 'Chandler'},
 {'_id': {'$oid': '60315c11d554bdc513e14d8c'}, 'name': 'Luzia'}]

In [32]:
res = requests.get("http://127.0.0.1:5000/characters/remove/Monica")
res

In [82]:
res = requests.get("http://127.0.0.1:5000/lines")
res

In [62]:
res.json()

[{'_id': {'$oid': '60314d8b02f4ae83273123ae'},
  'line': "No Mom, I don't have a restaurant, I work in a restaurant."},
 {'_id': {'$oid': '60314f9702f4ae83273123af'},
  'line': "No, look, don't touch that!"},
 {'_id': {'$oid': '60314f9a02f4ae83273123b0'},
  'line': 'Oh no. You went on our honeymoon alone?'},
 {'_id': {'$oid': '60314f9c02f4ae83273123b1'},
  'line': '(pause)....Are we still talking about sex?'},
 {'_id': {'$oid': '60314f9e02f4ae83273123b2'},
  'line': "Marsha, these are cave people. Okay? They have issues like 'Gee, that glacier's getting kinda close.' See?"},
 {'_id': {'$oid': '60314f9f02f4ae83273123b3'},
  'line': "Yeah, I think for us, kissing is pretty much like an opening act, y'know? I mean it's like the stand-up comedian you have to sit through before Pink Floyd comes out."}]

### Getting all the details of given ID:

In [110]:
res = requests.get("http://127.0.0.1:5000/characters/details/603143e502f4ae83273123aa")

In [111]:
res.json()

[{'_id': {'$oid': '603143e502f4ae83273123aa'},
  'name': 'Phoebe',
  'personality': 'Sweet and flaky. Monica´s former roomate. Plays guitar in the subway, if you know what it means',
  'job': 'massagist'}]

In [88]:
res = requests.get("http://127.0.0.1:5000/lines/details/60314f9a02f4ae83273123b0")

In [89]:
res.json()

[{'_id': {'$oid': '60314f9a02f4ae83273123b0'},
  'line': 'Oh no. You went on our honeymoon alone?',
  'name': 'Rachel',
  'episode': 'Episode 2'}]

### Inserting new objects:

In [90]:
q = {"name" : "Yancharles", 
     "personality" : "Those wonderful summer afternoons... oh, mama...",
     "job": "IRONHACKER MADAFACKER"}

In [91]:
res = requests.get("http://127.0.0.1:5000/characters/new", params=q)
res

In [92]:
res.json()

{'_id': {'$oid': '60317efb9a3ac874395bbc12'}}

In [94]:
res = requests.get("http://127.0.0.1:5000/characters/details/60317efb9a3ac874395bbc12")
res.json()

[{'_id': {'$oid': '60317efb9a3ac874395bbc12'},
  'name': 'Yancharles',
  'personality': 'Those wonderful summer afternoons... oh, mama...',
  'job': 'IRONHACKER MADAFACKER'}]

In [95]:
q= {"line": "A funsionar.. que te veo quieto",
    "name": "Yancharles",
    "episode": "episode 1" 
    
}

In [96]:
res = requests.get("http://127.0.0.1:5000/lines/new", params=q)
res

In [97]:
res.json()

{'_id': {'$oid': '60317f429a3ac874395bbc13'}}

In [127]:
q= {"name": "Phoebe" }

In [30]:
res = requests.get("http://127.0.0.1:5000/characters")
res

In [31]:
res.json()

{'Monica': '6033c5ce2bea8fe452801cf8',
 'Rachel': '6033c5e02bea8fe452801cf9',
 'Phoebe': '6033c6022bea8fe452801cfa',
 'Ross': '6033c6032bea8fe452801cfb',
 'Joey': '6033c6042bea8fe452801cfc',
 'Chandler': '6033c6052bea8fe452801cfd'}

In [38]:
res = requests.get("http://127.0.0.1:5000/characters")
res.json()

{'Monica': '6033c5ce2bea8fe452801cf8',
 'Rachel': '6033c5e02bea8fe452801cf9',
 'Phoebe': '6033c6022bea8fe452801cfa',
 'Ross': '6033c6032bea8fe452801cfb',
 'Joey': '6033c6042bea8fe452801cfc',
 'Chandler': '6033c6052bea8fe452801cfd'}

In [41]:
section = "characters"
identity = "6033c6042bea8fe452801cfc"
res = requests.get("http://127.0.0.1:5000/"+section+"/details?id="+identity)
res.json()

[{'_id': {'$oid': '6033c6042bea8fe452801cfc'},
  'name': 'Joey',
  'personality': 'Hnadsome and macho. Lives accross the hal from Rachell and Monica. Loves women, sports, women, New York and yes, you guessed it: women!',
  'job': 'Wants to be an actor. Actually, wants to be Al Pacino'}]

In [41]:
section = "characters"
identity = "6033c6042bea8fe452801cfc"
res = requests.get("http://127.0.0.1:5000/"+section+"/details?id="+identity)
res.json()

[{'_id': {'$oid': '6033c6042bea8fe452801cfc'},
  'name': 'Joey',
  'personality': 'Hnadsome and macho. Lives accross the hal from Rachell and Monica. Loves women, sports, women, New York and yes, you guessed it: women!',
  'job': 'Wants to be an actor. Actually, wants to be Al Pacino'}]

In [55]:
parametros = {"name": "Juanjo", 
          "personality": "humor oscurusburus", 
          "job": "fuckingmaster"
    
}

In [56]:
res = requests.get("http://127.0.0.1:5000/characters/new", params = parametros)
res.json()

{'_id': {'$oid': '603435ad0da556204e0e46d9'}}

In [ ]:
res = requests.get("http://127.0.0.1:5000/episodes/new", params = parametros)
res.json()

In [59]:
parametros = {"line": "comomoco", 
          "name": "jeancha", "episode": 2
         
    
}

In [60]:
res = requests.get("http://127.0.0.1:5000/lines/new", params = parametros)
res.json()

{'_id': {'$oid': '6034374614ab493ac56abbfc'}}

In [61]:
res = requests.get("http://127.0.0.1:5000/lines/delete?id=6034374614ab493ac56abbfc")
res.json()

{'response': 200, 'message': 'quote successfully deleted'}

### We update character

In [67]:
parametros = {
    "name": "Juanjo", 
          "personality": "indescifrable", "job": "mecanico de monstertruck"
         
    
}

In [68]:
res = requests.get("http://127.0.0.1:5000/characters/edit?id=603435ad0da556204e0e46d9", params = parametros)
res.json()

{'response': 200, 'message': 'character successfully updated'}